* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.site-content {
    flex:1;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}

.header {
    display: flex;
    justify-content: center;
    margin-right: auto;
}


.main-info {
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
}

.random-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}

.random-info-title {
    text-align: center;
    margin-bottom: 30px;
}

.boxes {
    border: 2px solid red;
    height: 100px;
    width: 100px;
}


.quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    background-color: #e5e7eb;
}

.quote-text {
    min-width:0;
    width: 500px;
}

.sign-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: pink;
    
}

.sign-up-window {
    display: flex;
    background-color: #3882f6;
    height: 75px;
    width: 850px;
    min-width: 0;
    justify-content: center;
    align-items: center;
    gap: 100px
    ;
}

.sign-up .sign-up-window {
    display: flex;
    flex-direction: row;
}



button {
    background-color: #3882f6;
    border-color: white;
}


blockquote {
    margin-top: 30px;
    font-weight:100;
    /*font-size: 36px;*/
    font-style: italic;
    color: #1f2937;
}


.links ul{
    display: flex;
    flex-direction: row;
    gap: 16px;
}


.a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.placeholder {
    height: 100px;
    width :300px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}